.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App_header {
 
  background-image: url(./assets/pics/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: Tanha;
  src: url('./assets/fonts/Tanha.eot');
  src: url('./assets/fonts/Tanha.woff');
  src: url('./assets/fonts/Tanha.woff2');
 
  
}

    *{
        font-family: Tanha;
        font-size: 100%;
        text-align: right;
        

      
    }

    .form1{
      font-family: Tanha;
      font-size: 75%;;
         text-align: center;
         width: 35%;
         height: auto;
         
         left: 35%;
         background-image: url(./assets/pics/bg2.png) ;
         border-radius: 6%;
         background-repeat: no-repear;
         background-size: cover;
         background-attachment: fixed;
         align-content: center;
         box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(116, 255,255, 0.4);
         margin: 20%;
         padding:4%;

     }
     form select,form textarea, form input{
       border-radius: 6%;
       margin: 3%;
       width: 80%;
       
     }
